<div fxLayout="column" fxFlexFill>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" >
    Kanban
    <button mat-mini-fab color="primary" (click)="openDialog()">+</button>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-around" fxFlex="">


    <!-- Backlog -->
    <div #backlog class="pane" fxLayout="column" fxLayoutAlign=" center" >
      <h4 mat-subheader>Backlog</h4>

      <mat-card
        *ngFor="let card of (backlogList$ | async)"
        mat-elevation-z2
        mat-button
        [matMenuTriggerFor]="menu" >
        {{card.text}}
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="moveToDoing(card.id)">doing</button>
          <button mat-menu-item (click)="moveToDone(card.id)">done</button>
        </mat-menu>
      </mat-card>

    </div>

    <!-- Doing -->
    <div #backlog class="pane" fxLayout="column" fxLayoutAlign=" center" >
      <h4 mat-subheader>Doing</h4>

      <mat-card
        *ngFor="let card of (doingList$ | async)"
        mat-elevation-z2
        mat-button
        [matMenuTriggerFor]="menu" >
        {{card.text}}
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="moveToDone(card.id)">done</button>
          <button mat-menu-item (click)="moveToBacklog(card.id)">doing</button>
        </mat-menu>
      </mat-card>

    </div>


    <!-- Done -->
    <div #backlog class="pane" fxLayout="column" fxLayoutAlign=" center" >
      <h4 mat-subheader>Done</h4>

      <mat-card
        *ngFor="let card of (doneList$ | async)"
        mat-elevation-z2
        mat-button
        [matMenuTriggerFor]="menu" >
        {{card.text}}
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="moveToBacklog(card.id)">backlog</button>
          <button mat-menu-item (click)="moveToDoing(card.id)">doing</button>
        </mat-menu>
      </mat-card>

    </div>

  </div>
</div>
