<div fxLayout="column" fxFlexFill>
  <mat-toolbar>Kanban</mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-around" fxFlex="">


    <!-- Backlog -->
    <div #backlog class="pane" fxLayout="column" fxLayoutAlign=" center" >
      <h4 mat-subheader>Backlog</h4>

      <mat-card
        *ngFor="let card of backlogCards"
        mat-elevation-z2
        mat-button
        [matMenuTriggerFor]="menu" >
        {{card}}
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="moveToDoing(card)">Doing</button>
          <button mat-menu-item (click)="moveToDone(card)">Done</button>
        </mat-menu>
      </mat-card>

    </div>

    <!-- Doing -->
    <div #backlog class="pane" fxLayout="column" fxLayoutAlign=" center" >
      <h4 mat-subheader>Doing</h4>

      <mat-card
        *ngFor="let card of doingCards"
        mat-elevation-z2
        mat-button
        [matMenuTriggerFor]="menu" >
        {{card}}
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="moveToDoing(card)">Doing</button>
          <button mat-menu-item (click)="moveToDone(card)">Done</button>
        </mat-menu>
      </mat-card>

    </div>


    <!-- Done -->
    <div #backlog class="pane" fxLayout="column" fxLayoutAlign=" center" >
      <h4 mat-subheader>Done</h4>

      <mat-card
        *ngFor="let card of doneCards"
        mat-elevation-z2
        mat-button
        [matMenuTriggerFor]="menu" >
        {{card}}
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="moveToDoing(card)">Doing</button>
          <button mat-menu-item (click)="moveToDone(card)">Done</button>
        </mat-menu>
      </mat-card>

    </div>

  </div>
</div>
