/* You can add global styles to this file, and also import other style files */

/* Material theme */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height:100%;
  /*overflow: hidden !important;*/
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
